.infinite-container {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  overflow: auto;
  padding: 8px 24px;
  height: 300px;
}

.comment-action {
  padding-left: 8px;
  padding-right: 8px;
  cursor: 'auto';
}